*{
    background-color: #989961;
    color: rgb(228, 228, 228);
}



h1{
    text-align: center;
}

@media (max-width: 550px) {
    .container{
        display: flex;
      flex-direction: column; 
      align-items: center;  
    }
}

.container{
    display: grid;
    grid-template-columns: 50% 1fr;
    margin: 75px;
}

.info{
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    margin-left: 50px;
}

img{
    width: 350px;
    height: 250px;
    border-radius: 50%;
}


.grid{
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    width: 800px;
  }
  
  .title {
    grid-column: span 2; 
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .item {
    border: 1px solid rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
  }
  



#encore{
    background-color: #284C63;
}

#coding{
    background-color: #334365;
}

#todo{
    background: linear-gradient(135deg, #153677, #4e085f);
}

#rock{
      background-color: rgb(39, 41, 68);
}