*{
    background-color:#eff8ff;
    color: #293858;
    .poppins-regular {
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
      }
      .roboto-regular {
        font-family: "Roboto", serif;
        font-weight: 400;
        font-style: normal;
      }
      
}



h1{
    text-align: center;
    font-family: "Poppins", serif;
}


.container{
    display: grid;
    grid-template-columns: 50% 1fr;
    margin: 75px;
}

@media only screen and (max-width: 1500px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.info{
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
}

img{
    width: 350px;
    height: 250px;
    border-radius: 50%;
}

h2{
    font-family: "Poppins", serif;
}

p{
    font-family: "Roboto", serif;
}

@media only screen and (max-width: 700px) {
    h1{
        text-align: center;
    }
    img{
        align-items: center;
    }
    .info{
        width: 300px;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
}


.grid{
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    width: 800px;
  }


  
  .title {
    grid-column: span 2; 
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Poppins", serif;
  }
  
  .item {
    color: #eff8ff;
    border: 1px solid #eff8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
  }

  @media only screen and (max-width: 700px) {
    .grid{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .title{
        text-align: center;
        margin: 0px;
    }
    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin: 0;
        font-family: "Poppins", serif;
    }
}
 

  @media only screen and (max-width: 1500px) {
    /* Mobile container settings */

    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title{
        text-align: center;
    }
    .item{
        align-items: center;
        justify-content: center;
    }
}




#encore{
    background-color: #284C63;
}

#coding{
    background-color: #334365;
}

#todo{
    background: linear-gradient(135deg, #153677, #4e085f);
}

#rock{
      background-color: rgb(39, 41, 68);
}